@{
    Layout = "_Layout";
}


<h2>Daftar Mahasiswa</h2><br/>
<a asp-action="Create" class="btn btn-success btn-xs">Tambah Data</a>
<br /><br/>

<div class="row">
<table class="table table-striped">
    <tr>
        <th>Nim</th>
        <th>Nama</th>
        <th>Email</th>
        <th>Telp</th>
        <th></th>
    </tr>
    @foreach(var data in Model){
        <tr>
            <td>@data.Nim</td>
            <td>@data.Nama</td>
            <td>@data.Email</td>
            <td>@data.Telp</td>
            <td><a asp-action="Details" asp-route-id="@data.Nim">
                details</a></td>
        </tr>
    }
</table>
</div>

