@model IEnumerable<ASPCoreGroupB.Models.Mahasiswa>

@{
    Layout = "_Layout";
}


<h2>Daftar Mahasiswa</h2><br/>
<a asp-action="Create" class="btn btn-success btn-xs">Tambah Data</a>
<div class="row">
@if(ViewData["pesan"]!=null){
    @Html.Raw(ViewData["pesan"])
}
<br/><br/>
</div>

<div class="row">
<form asp-action="Search" class="form-inline">
     <div class="form-group">
        <label>Masukan Keyword :</label>
        <input type="text" name="keyword" class="form-control" placeholder="masukan keyword" />
     </div>
    <button type="submit" class="btn btn-primary">Search</button> 
</form><br/><br/>

<table class="table table-striped">
    <tr>
        <th>Nim</th>
        <th>Nama</th>
        <th>Email</th>
        <th>Telp</th>
        <th></th>
        <th></th>
    </tr>
    @foreach(var data in Model){
        <tr>
            <td>@data.Nim</td>
            <td>@data.Nama</td>
            <td>@data.Email</td>
            <td>@data.Telp</td>
            <td><a asp-action="Details" asp-route-id="@data.Nim">
                details</a></td>
            <td><a asp-action="Delete" asp-route-id="@data.Nim">delete</a></td>
        </tr>
    }
</table>
</div>

